@font-face
{
font-family: “Spire”;
src: url(“fonts/Spire/SPIREQ_L.eot”);
src: url(“fonts/Spire/SPIREQ_L.eot”) format(“embedded-opentype”),
url(“fonts/Spire/spireq_l-webfont.woff”) format(“woff”),
url(“fonts/Spire/SPIREQ_L.ttf”) format(“truetype”),
url(“fonts/Spire/SPIREQ_L.svg”) format(“svg”);
}

header{
  height: 18vh;
  margin-top: 10px;
  background-color: #F2F2F2;
}
.catalogo{
  margin: 15px 0px 0px 7px;
  font-family:”Spire”;
  font-size: 4.3vw;
  text-align: center;
}
.alto{
  height: 50%;
}

.pestaña{
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5vw;
  margin-top: 25px;
  color: #5F6A6A;
}

main{
  min-height: 70vh;
}

h2{
  font-family:”Spire”;
  font-size: 3.5vw;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.somh2{
  background-color: #F2F2F2;

  height: 20%;
}

h3{
  font-family:”Spire”;
  font-size: 2.5vw;
  text-align: center;
  color: #424949;
  display: inline;
  width: 100%;
}

h4{
  font-family:”Spire”;
  font-size: 1.56vw;
  text-align: center;
  color: #273746;
}

.carousel {
     width:800px;
     margin-top: 20px;
}

.gallery-container h2 {
    text-align: center;
    margin: 100px auto 0px auto;
    font-family: ”Spire”;
    font-size: 3vw;
}

.nombreBo {
    text-align: center;
    max-width: 800px;
    margin: 25px auto 0px auto;
    color: #888;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width:100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.imgVino{
  margin: 70px auto 10px auto;
  width: 100%;
}

.txtVino{
  display:block;
  text-align: center;
  font-size: 1.2vw;
}

.colum{
  margin: 20px 0 0 0 ;
}

.aboutUs{
  display: flex;
  justify-content: center;
  align-content: center;
}
.aboutFoto{
  margin-top: 30px;
  width: 500px;
}

.a16{
  text-align: center;
  margin: auto;
}

.p1{
  text-align: justify;
  margin: auto;
  font-size: 1.2vw;
}
.sombod{
  margin: 40px 0 0 0;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 100px;
  text-align: justify;
}

input, textarea {
  width: 320px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  height: 10em;
}
.contacto{
  margin: 40px 0px 0px 0px;
}
footer{
  margin: 50px 0px 0px 0px;
  height: 70px;
}

.foot{
  color: #424949;
  font-size: 1.2vw;
  text-align: center;
}

.somfoo{
  background-color: #E6E6E6;
  align-items: center
}

@media(max-width: 992px){
  header{
    height: 90px;
    margin-top: 10px;
    background-color: #F2F2F2;
  }
  .pestaña{
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2vw;
    margin-top: 23px;
    color: #5F6A6A;
  }

  .p1{
    text-align: justify;
    margin: auto;
    font-size: 1.5vw;
  }

}

@media(max-width: 720px){
  header{
    height: 80px;
    margin-top: 10px;
    background-color: #F2F2F2;
  }

  .pestaña{
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2vw;
    margin-top: 18px;
    color: #5F6A6A;
  }

  .sombod{
    margin: 30px 0 0 0;
  }

  .txtVino{
    display:block;
    text-align: center;
    font-size: 1.7vw;
  }

  h4{
    font-family:”Spire”;
    font-size: 2vw;
    text-align: center;
    color: #273746;
  }

  .imgVino{
    margin: 60px auto 10px auto;
    width: 100%;
  }

  footer{
    margin: 40px 0px 0px 0px;
    height: 50px;
  }

}

@media(max-width: 576px){
  header{
    height: 70px;
    margin-top: 10px;
    background-color: #F2F2F2;
  }

  .sombod{
    margin: 15px 0 0 0;
  }

  .imgVino{
    margin: 50px auto 10px auto;
    width: 100%;
  }

  footer{
    margin: 25px 0px 0px 0px;
    height: 30px;
  }

}
